
* {
    margin: 0;
    font-family: 'Chewy';
    color: rgb(248, 95, 6);
} 

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;background: linear-gradient(rgb(248, 191, 84), rgb(162, 223, 231));
    font-size: 25px;
}

#weather-picture {
    max-width: 300px;

}

form,
img
{
    padding: 60px;
}

div {
    padding: 10px;
}

button, input {
    background-color:rgba(255, 255, 255, 0.774);
    border-radius: 7px;
    height:25px;
}